.block-upload-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.obj-fit {
    width: auto;
    height: 60%;
    object-fit: cover;
}